.dialogs {
    background: #a6dd7b;
    padding: 5px;
    display: grid;
    grid-template-areas:

    "dial dial"
    "peop mess";

    grid-template-rows: auto auto;
    grid-template-columns: 2fr 6fr;




}

.peoples {
    padding: 10px;
    grid-area: peop;
    background-color: #cdc583;

}

.messages {
    grid-area: mess;
    background-color: #e0e0f1;
}

.message {
    font-weight: normal;
    color: #080809;
    padding: 10px;
    margin: 10px;
}

.people a {
    font-size: 18px;
    color: #072466;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;

}

.people a.active {
    color: #d04209;
    padding: 5px;


}